[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    migrations,
    static,
    node_modules,
    .pytest_cache,
    manage.py,
    apps.py,
    staticfiles
ignore =
    E203,
    W503
