Django==5.2.4
psycopg[binary]==3.2.6
django-extensions==4.1
Pillow==11.3.0
gunicorn==23.0.0
whitenoise==6.9.0
pytest==8.4.1
pytest-django==4.11.1
flake8==7.2.0
black==25.1.0
isort==6.0.1
autoflake==2.3.1
